# Default ignored files
.idea/**/**
.idea/**
.idea/*
*/target/*
.idea/vcs.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_bootstrap_3_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
